@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

:root {
    --white: #ffffff;
    --tea-green: #eaffc1;
    --maize: #ffee80;
    --blue-crayola: #0078ff;
    --battleship-gray: #909090;
    --onyx: #404040;

    --primary-color: var(--tea-green);
    --secondary-color: var(--onyx);
    --accent-color: var(--battleship-gray);
    --complementary-color: var(--maize);
    --background-color: var(--blue-crayola);
    --cta-color: var(--blue-crayola);
    --text-color: var(--onyx);
}

html, body, div, span, 
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1.5;
    background-color: var(--background-color);
    font-family: Arial, sans-serif; /* Add a clean font */
    margin: 0;
    padding: 0;
}

/* Page Wrapper */
#page-wrapper {
    padding-top: 4em; /* Adjust for the height of the fixed header */
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--accent-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Softer shadow */
    transition: background-color 0.3s ease;
}

#header-logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 40px; /* Larger logo for better visibility */
    height: auto;
    margin-right: 15px;
}

#logo-title {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo-title h1 {
    color: var(--secondary-color);
    font-size: 28px; /* Larger title for impact */
    margin: 0; /* Remove default margin */
    font-weight: bold; /* Add emphasis */
    transition: color 0.3s ease; /* Smooth color transition */
}

.header-link-container {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allow it to take available space */
    overflow: hidden;
    justify-content: flex-end; /* Align items to the right */
}

.header-link-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1px; /* Space between links */
    background: var(--background-color); /* Matches background color */
    border-radius: 5px; /* Rounded corners for the container */
    padding: 0; /* Remove padding to avoid extra space */
    margin: 0; /* Remove margin to avoid extra space */
}

.header-link {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 12px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 18px;
    white-space: nowrap;
    display: inline-block;
    border-radius: 5px; /* Rounded corners */
}

.header-link:not(:last-child) {
    position: relative;
    overflow: hidden; /* Hide overflow of gradient border */
}

.header-link:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px; /* Thin line */
    height: 100%;
    background: linear-gradient(to top, var(--secondary-color), var(--accent-color));
}

.header-link:hover {
    background: linear-gradient(
        to bottom, var(--primary-color) 0%, 
        var(--secondary-color) 15%,
        var(--secondary-color) 85%,
        var(--primary-color) 100%);
    color: var(--accent-color);
}

/* Footer */
#footer {
    background-color: var(--battleship-gray);
    text-align: center;
    padding: 20px 0; /* Add padding */
    color: var(--secondary-color); /* Consistent text color */
    font-size: 14px; /* Smaller text size */
}

.coming-soon-container {
    height: 100vh;
    background-image: url('/images/taulab-banner.png');
    background-size: fit;
    background-position: top;
    display: flex;
    position: relative
}

.coming-soon-container h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 20px;
}
